<% var title = 'ログイン中' %>
<% include head %>

<%- message %>

<h2>チャットを作成</h2>
<form action="/chat" method="post">
  <p>
    <label>ルーム名:</label>
    <input type="text" name="roomId" id="room">
  </p>
  <p>
    <input type="submit" value="Create" class="btn btn-primary">
  </p>
</form>

<!-- <h2>チャット一覧</h2>
<ul id="threads"></ul> -->

<% include foot %>