<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <style>
      body {
        padding: 50px;
        font: 13px Helvetica, Arial, sans-serif;
      }
      .error {
          color: red
      }
      .success {
          color: green;
      }
    </style>
  </head>
  <body>
    <div>
      <ul>
        <li><a href="/regist">登録ページ</a></li>
        <li><a href="/login">login</a></li>
        <li><a href="/logout">logout</a></li>
        <li><a href="/success">ログイン後ページ</a></li>
      </ul>
    </div>