<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
      .error {
          color: red
      }
      .success {
          color: green;
      }
    </style>
  </head>
  <body>
      <nav class="navbar navbar-dark bg-dark">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link active text-light" href="/regist">登録ページ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-light" href="login">ログインページ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-light" href="/logout">ログアウト</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-light" href="/chat">ホーム</a>
        </li>
      </ul>
      </nav>
      <div class="container text-center">