<% var title = 'チャット一覧' %>
<% include head %>

<div class="row p-3 bg-light border">
    <div class="col-3">
        <h5>ルーム名:<span id="roomId" ><%- roomId %></span><button id="showUsers" class="btn btn-warning ml-3">招待</button></h5>
        <h5>ユーザー名:<span id="userName"><%- userName %></span></h5>
    </div>
    <div class="col-9">
        <form action="">
          <input id="m" autocomplete="off" /><button class="btn btn-secondary ml-3">送信</button>
        </form>
    </div>
</div>

<ul id="messages" class="list-group list-group-flush" ></ul>
<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script>
  $(function () {
    var socket = io();

    socket.emit('create a room', $('#roomId').text());

    //メッセージ取得
    $('form').submit(function(e){
      e.preventDefault(); // prevents page reloading
      socket.emit('chat message', $('#m').val(), $('#roomId').text(), $('#userName').text() );
      $('#m').val('');
      return false;
    });

    //メッセージ出力
    socket.on('chat message', function(msg){
      $('#messages').append($('<li class="list-group-item" >').text(msg));
    });

    //ユーザ一覧表示
    // $('#showUsers').on('click', function(){
    //     socket.emit('show', $('#invite').val());
    // });

    //招待
    // $('#invite').on('click', function(){
    //     socket.emit('invite a user', $('#invite').val());
    // });
    });
</script>

<% include foot %>